@font-face {
    src: url('../../fonts/Roboto-Regular.ttf');
}

.root {
    -fx-dark-text-color: white !important;
    -fx-mid-text-color: white !important;
    -fx-light-text-color: white !important;
}

.pane {
    -fx-background-color: rgba(62, 62, 62, 0.5) !important;
    -fx-border-color: rgba(95, 95, 95, 0.9) !important;
    -fx-border-width: 0.5;
    -fx-effect: dropshadow(gaussian, rgba(100, 100, 100, 0.3), 10, 0.5, 0.0, 0.0);
    -fx-text-fill: white !important;
}

.thickerPane {
    -fx-background-color: rgba(62, 62, 62, 0.8) !important;
    -fx-border-color: rgba(95, 95, 95, 0.9) !important;
    -fx-border-width: 0.5;
    -fx-effect: dropshadow(gaussian, rgba(100, 100, 100, 0.3), 10, 0.5, 0.0, 0.0);
}

.murkier-pane {
    -fx-background-color: rgba(62, 62, 62, 0.8) !important;
    -fx-border-color: rgba(95, 95, 95, 0.9) !important;
    -fx-border-width: 0.5;
    -fx-effect: dropshadow(gaussian, rgba(100, 100, 100, 0.3), 10, 0.5, 0.0, 0.0);
}

.stupidThickPane {
    -fx-background-color: rgb(43, 43, 43) !important;
    -fx-border-color: rgb(95, 95, 95) !important;
    -fx-border-width: 0.5;
    -fx-effect: dropshadow(gaussian, rgba(100, 100, 100, 0.3), 10, 0.5, 0.0, 0.0);
}

.button {
    -fx-background-color: rgb(93, 93, 93) !important;
    -fx-font-size: 12;
    -fx-font-family: "Roboto Regular";
    -fx-font-weight: normal;
    -fx-text-fill: #fff !important;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    margin: 15px 15px 15px 15px;
    /*-fx-border-color: #000000;*/
    /*-fx-border-width: 2;*/
}

.inputs {
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-border-color: rgba(255, 255, 255, 0.9);
    -fx-border-width: 0.5;
    -fx-effect: dropshadow(gaussian, rgba(100, 100, 100, 0.3), 10, 0.5, 0.0, 0.0);
}

.button .submit-button {
    -fx-background-color: rgb(62, 234, 105);
}


.text-field {
    /*-fx-background-color: #88C0D0;*/
    -fx-border-color: #777777;
    -fx-border-width: 0.5;
}

.requestDisplayPane {
    -fx-background-color: rgba(103, 103, 103, 0.7) !important;
    -fx-font-size: 9;
}

.filterPane {
    -fx-background-color: rgba(71, 71, 71, 0.7) !important;
}

.requestBox {
    -fx-background-color: #3e3e3e !important;
    -fx-fill: #fff;
    -fx-effect: dropshadow(gaussian, rgba(80, 80, 80, 1), 10, 0.5, 0.0, 0.0) !important;
}

.requestDisplayWrapper {
    -fx-border-color: rgba(255, 255, 255, 0.9);
    -fx-border-width: 0.5;
    -fx-effect: dropshadow(gaussian, rgba(100, 100, 100, 0.3), 10, 0.5, 0.0, 0.0);
}

.jfx-dialog-overlay-pane > StackPane {
    -fx-background-color: rgba(91, 91, 91, 0.8) !important;
    -fx-border-color: rgba(136, 136, 136, 0.9) !important;
    -fx-border-width: 0.5;
    -fx-effect: dropshadow(gaussian, rgba(100, 100, 100, 0.3), 10, 0.5, 0.0, 0.0);
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 18;
    -fx-text-fill: white !important;
}

.jfx-dialog-layout > .jfx-layout-actions .jfx-button {
    -fx-pref-height: 30;
    -fx-pref-width: 100;
    -fx-padding: 8;
}

.jfx-dialog-layout > .text {
    -fx-text-fill: white !important;
}

.jfx-check-box{
    -jfx-checked-color: #001856 !important;
    -fx-text-fill: white !important;
}



.tree-table-view{
    -fx-font: 12px "Roboto Regular";
    -fx-font-size: 12;
    -fx-background-color: rgba(79, 79, 79, 0.7) !important;
    -fx-border-color: rgba(79, 79, 79, 0.7) !important;
}

.tree-table-row-cell {
    -fx-font: 12px "Roboto Regular";
    -fx-background: rgba(255, 255, 255, 0);
    -fx-border-color: rgba(255, 255, 255, 0) !important;
    -fx-text-fill: white !important;
}

.tree-table-view .column-header, .table-view .filler {
    -fx-border-width: 0, 0;
}


.jfx-date-picker{
    -jfx-default-color: #4793e9 !important;
}

.jfx-time-picker{
    -jfx-default-color: #4793e9 !important;
}

.date-picker-popup .left-button,
.date-picker-popup .right-button  {
    --jfx-default-color: #4793e9 !important;
}

.date-picker-popup .left-button .jfx-svg-glyph,
.date-picker-popup .right-button .jfx-svg-glyph {
    -fx-background-color: #ffffff;
}

.headerText {
    -fx-font-size: 34;
    -fx-font-family: "Roboto Regular";
}

.button-small {
    -fx-pref-height: 30;
    -fx-pref-width: 60;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #303030 !important;
}

.jfx-combo-box{
    -jfx-focus-color: #000000 !important;
}

.jfx-combo-box .cell:selected {
    -fx-text-fill: white !important;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: white !important;
    -fx-background-color: #282b3b !important;
}

.jfx-text-field{
    -jfx-focus-color: #000000;
    -fx-text-fill: #eee;
    -fx-highlight-fill: #eee;
    -fx-highlight-text-fill: #eee;
    -fx-prompt-text-fill: #ccc;
}

.jfx-password-field{
    -jfx-focus-color: #000000;
    -fx-text-fill: #eee;
    -fx-highlight-fill: #eee;
    -fx-highlight-text-fill: #eee;
    -fx-prompt-text-fill: #ccc;
}

.help-button {
    -fx-min-height: 50;
    -fx-min-width: 50;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-font-size: 20;
    -fx-font-family: Roboto Regular;
}

.label {
    -fx-text-fill: white !important;
}

.text {
    -fx-text-fill: white !important;
    -fx-text-background-color: white !important;
}

.annoyingText {
    -fx-fill: white !important;
}
.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: #F1F1F1;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #BCBCBC;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

/* Up- and Down-Button Padding */
.scroll-bar:vertical > .increment-button, .scroll-bar:vertical > .decrement-button {
    -fx-padding: 5 2 5 2;
}

/* Left- and Right-Button Padding */
.scroll-bar:horizontal > .increment-button, .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 2 5 2 5;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: rgb(150.0, 150.0, 150.0);
}

/* Up Arrow */
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
}

/* Down Arrow */
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
}

/* Right Arrow */
.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape: "M0 428l0 -428l214 214l-214 214z";
}

/* Left Arrow */
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape: "M214 0l0 428l-214 -214l214 -214z";
}

.jfx-scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-fill: transparent;
    -fx-background:transparent;
    -fx-background-color: transparent;
    -fx-border-color: rgba(78, 78, 78, 0.9) !important;
    -fx-effect: dropshadow(gaussian, rgba(100, 100, 100, 0.3), 10, 0.5, 0.0, 0.0);
}

.jfx-scroll-pane:focused {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-fill: transparent;
    -fx-border-color: rgba(102, 102, 102, 0.9) !important;
    -fx-effect: dropshadow(gaussian, rgba(100, 100, 100, 0.3), 10, 0.5, 0.0, 0.0);
}

.label-about {
    -fx-wrap-text: true;
    -fx-font-size: 15;
}

.jfx-scroll-pane .main-header {
    -fx-background-color: rgba(22, 22, 22, 0.9) !important;
    -fx-fill: transparent;
    -fx-border-color: rgba(107, 107, 107, 0.9) !important;
    -fx-effect: dropshadow(gaussian, rgba(5, 5, 5, 0.3), 10, 0.5, 0.0, 0.0) !important;
}

.jfx-scroll-pane .main-header .label{
    -fx-wrap-text: true;
    -fx-font-size: 50;
}

.jfx-scroll-pane .condensed-header{
    -fx-background-color: rgba(38, 38, 38, 0.9) !important;
    -fx-fill: transparent;
    -fx-border-color: rgba(107, 107, 107, 0.9) !important;
    -fx-effect: dropshadow(gaussian, rgba(100, 100, 100, 0.3), 10, 0.5, 0.0, 0.0) !important;
}
.scroll-pane{
    -fx-background-color: rgba(38, 38, 38, 0.9) !important;
    -fx-border-color: rgba(107, 107, 107, 0.9) !important;
    -fx-border-width: 0.5;
    -fx-effect: dropshadow(gaussian, rgba(40, 40, 40, 0.3), 10, 0.5, 0.0, 0.0) !important;
}
.pane-button {
    -fx-background-color: rgba(120, 120, 120, 0.5) !important;
    -fx-border-color: rgba(95, 95, 95, 0.9) !important;
    -fx-border-width: 0.5;
}