.text-input {
    -fx-text-fill: #eceff4;
    -fx-prompt-text-fill: #eceff4;
}
.text-input:focused {
    -fx-text-fill: #eceff4;
}
.check-box {
    -fx-text-fill: #eceff4;
}
.list-cell {
    -fx-background-color: #2e3440;
    -fx-text-fill: #eceff4;
}
.list-view {
    -fx-background-color: #2e3440;
}