.pane {
    -fx-background-color:  #D8DEE9;
    -fx-border-color: #000000;
    -fx-border-width: 2;
}

.button {
    -fx-background-color:  #88C0D0;
    -fx-font-size: 18;
    /*-fx-border-color: #000000;*/
    /*-fx-border-width: 2;*/
}

.csv-button {
    -fx-background-color:  #88C0D0;
    -fx-font-size: 14;
}

.submit-button {
    -fx-background-color: #66d64f;
}

.delete-button {
    -fx-background-color: #ff4141;
}

.text-field {
    /*-fx-background-color: #88C0D0;*/
    -fx-border-color: #000000;
    -fx-border-width: 1;
}