.pane {
    -fx-background-color: rgba(220, 220, 220, 0.8);
    /*-fx-border-color: #000000;*/
    /*-fx-border-width: 2;*/
    -fx-effect: dropshadow(gaussian, rgba(100, 100, 100, 0.3), 10, 0.5, 0.0, 0.0);
}

.button {
    -fx-background-color:  #bbedfc;
    -fx-font-size: 18;
    -fx-text-fill: #000000;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    /*-fx-border-color: #000000;*/
    /*-fx-border-width: 2;*/
}

.text-field {
    /*-fx-background-color: #88C0D0;*/
    -fx-border-color: #000000;
    -fx-border-width: 1;
}